@rendermode InteractiveServer
@page "/create-band"

@inject IRepositoryBand RepositoryBand
@inject NavigationManager NavManager

@using BlazorApp1.Repositories.Interfaces
@using BlazorApp1.Entities
@using BlazorApp1.Enums

<Form Style="width: 500px; margin-inline: auto;">
	<Field>
		<FieldLabel>Name</FieldLabel>
		<TextEdit @bind-text="_band.Name"></TextEdit>
	</Field>
	<Field>
		<Select TValue="Genre" @bind-SelectedValue="_band.Genre">
			@foreach(Genre genre in Enum.GetValues(typeof(Genre)))
			{
				<SelectItem Value="@genre">@genre.ToString()</SelectItem>	
			}
		</Select>
	</Field>
	<Field>
		<Button Color="Color.Primary" Clicked="HandleSubmit">Submit</Button>
	</Field>
</Form>

@code {
	private Band _band { get; set; } = new();
	private async void HandleSubmit()
	{
		await RepositoryBand.AddAsync(_band);
		await RepositoryBand.SaveChangesAsync();

		NavManager.NavigateTo("/");
	}
}
