header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    padding-block: .5rem;
    background-color: rgba(120, 120, 120, .3);
    backdrop-filter: blur(10px);
}

header .width-limiter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 60px;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-item {
    font-size: 1.1rem;
}

.nav-item ::deep .nav-link {
    padding-block: .5rem;
    padding-inline: .7rem;
    font-weight: 700;
    color: #333;
}

.nav-item ::deep .nav-link.active {
    border-radius: 10px;
    background-color: #eee;
}