@rendermode InteractiveServer

@using BlazorApp1.Entities
@using BlazorApp1.Repositories.Interfaces
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject IRepositoryBooking RepositoryBooking
@inject AuthenticationStateProvider AuthStateProvider

<header>
    <div>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img src="img/nav_logo.png" />
        </NavLink>
    </div>

    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="list-bands">
                Bands
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="list-festivals">
                Festivals
            </NavLink>
        </div>
    </nav>

    <div class="account-options">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket-icon lucide-shopping-basket"><path d="m15 11-1 9" /><path d="m19 11-4-7" /><path d="M2 11h20" /><path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4" /><path d="M4.5 15.5h15" /><path d="m5 11 4-7" /><path d="m9 11 1 9" /></svg>
                </NavLink>
                <Dropdown>
                    <DropdownToggle>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round-icon lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0" /><circle cx="12" cy="10" r="4" /><circle cx="12" cy="12" r="10" /></svg>
                    </DropdownToggle>
                    <DropdownMenu>
                        <div style="font-weight: bold;" class="nav-item px-4 py-1 text-capitalize text-center">
                            <p>Hello, @_username</p>
                        </div>
                        <DropdownDivider />
                        <DropdownItem>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link no-underline" href="Account/Manage">
                                    Account
                                </NavLink>
                            </div>
                        </DropdownItem>
                            <AuthorizeView Context="admin_dashboard" Roles="admin">
                                <Authorized>
                                    <DropdownDivider />
                                    <DropdownItem>
                                        <div class="nav-item px-3">
                                        <NavLink class="nav-link no-underline" href="admin-dashboard">
                                                Admin Dashboard
                                            </NavLink>
                                        </div>
                                    </DropdownItem>
                                </Authorized>
                            </AuthorizeView>
                        <DropdownDivider />
                        <DropdownItem>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link no-underline" href="/Bookings">
                                    Bookings
                                </NavLink>
                            </div>
                        </DropdownItem>
                        <DropdownDivider />
                        <DropdownItem>
                            <div class="nav-item px-3">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="nav-link">
                                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                    </button>
                                </form>
                            </div>
                        </DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link no-underline" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

@code {
    private string? currentUrl;
    private string? _username;

    protected override async Task OnInitializedAsync()
    {
        _username = (await AuthStateProvider.GetAuthenticationStateAsync()).User.Identity?.Name?.Split('@')[0];
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}