.festival-banner {
    background-position: center;
    position: absolute;
    top: 4.7rem;
    left: 0;
    width: 100%;
    height: 75%;
}

    .festival-banner h1 {
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        padding: 0 20px;
    }

.festival-info-section {
    margin-top: 45rem;
    max-width: 1450px;
    margin-inline: auto;
}

.festival-title,
.festival-period,
.festival-location,
.festival-price{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1.1rem;
    margin-top: .5rem;
    text-shadow: 1.5px 1.5px 6px rgba(0,0,0,0.4);
}

    .festival-title {
        font-size: 3rem;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.book-ticket-btn {
    align-self: center;
    padding: 16px 48px;
    font-size: 1.4rem;
    font-weight: 700;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 8px 24px rgba(118, 75, 162, 0.4);
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-inline: auto;
}

    .book-ticket-btn:hover {
        background: linear-gradient(135deg, #5a6eda 0%, #623e9b 100%);
        transform: translateY(-3px);
    }

.band-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.band-card {
    margin-bottom: 2rem;
    color: #000;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .band-card:hover {
        transform: translateY(-10px);
    }

.band-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.band-title {
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.band-genre {
    color: #888;
}

.flex-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}